<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utente.progettomobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icona"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:screenOrientation="portrait" />
        <activity android:name=".MenuActivity" android:screenOrientation="portrait" />
        <activity android:name=".InsertPersonalCodeActivity" android:screenOrientation="portrait" />
        <activity android:name=".InsertCredentialsActivity" android:screenOrientation="portrait" />
        <activity android:name=".InsertCreditCardActivity" android:screenOrientation="portrait" />
        <activity android:name=".InsertBankAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".ViewBankAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".ViewCredentialsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ViewCreditCardActivity" android:screenOrientation="portrait" />
        <activity android:name=".ViewPersonalCodeActivity" android:screenOrientation="portrait" />
        <activity android:name=".ChangePasswordActivity" android:screenOrientation="portrait" />
        <activity android:name=".AddAccountActivity" android:screenOrientation="portrait" />

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-qwnnf0tfodlz3nw" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="model.SynchronizationService"
            android:enabled="true"
            android:exported="true" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e298368d099ddf8f370dc6f0d2a9451beab33bd9" />
    </application>
</manifest>